{
  "root": true,
  "extends": ["eslint-config-egg/typescript", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warning"
  }
}
